modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://postgres:chiakhoathanhcong@42.96.40.138:5432/easyedu_new"
AI_ENCRYPT_SECRET = "83fb9fed117194980efeb027ab416025"
AWS_ACCESS_KEY_ID = "VR7KMVGVJFKDD7DI4AJJ"
AWS_SECRET_ACCESS_KEY = "qsppIkRloxY5Y9ti0efTmFwAnLgztborND94PDKu"
S3_ALIAS_HOST = "cdn3.emso.vn"
S3_BUCKET = "easyedu"
S3_ENABLED = "true"
S3_ENDPOINT = "https://s3.hn-1.cloud.cmctelecom.vn"
S3_FOLDER_PORTAL = "easyedu"
S3_HOSTNAME = "s3.hn-1.cloud.cmctelecom.vn"
S3_PROTOCOL = "https"
S3_REGION = "s3-hn-1"
SECRET_KEY_BASE = "938939b1ae243dbca8364b42bbbfb2c21a1b9ced874cc060dd673d69da7cba58e53d3cffdd5eaecd77e3c23a4fdaa7fed9fdf17ac9838089809ae4ba5bdaffdd"
TINODE_URL = "https://chattinode.easyedu.vn"
TINODE_API_KEY = "AQEAAAABAAD_rAp4DJh05a1HAwFT3A6K"
TINODE_BOT_USER = "edumanage_bot_v2"
TINODE_BOT_PASS = "M1mwB493gLwB8Sk4+z6k2/66BrE21V5k"
TINODE_USER_PASS_SECRET = "DcD4ZGBfstLXTtkXxmPAKZs+ntFRPo5b98Bd1xpWJLo="
TINODE_LOGIN_VERSION = "3"
CENTER_ID = "easyeduv2"

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0", "javascript_gemini_ai_integrations:2.0.0"]
stack = "FULLSTACK_JS"
expertMode = true
